<!-- preloader -->
<div class="preloader">
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>

<header>
    <div class="nav-menu" id="sticky-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="navbar-header">
                        <a class="navbar-brand" routerLink="/Home" routerLinkActive="cls"><img src="assets/images/logo/logo.png" alt="BEFIT logo"></a>
                        <button class="navbar-toggler d-md-inlline d-xl-none" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
                    </div>
                </div>
                <!--col end-->
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/News" routerLinkActive="cls">News</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Teams" routerLinkActive="cls">Teams</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Matches" routerLinkActive="cls">Matches</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" routerLink="/Tables" routerLinkActive="cls">Tables</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Leagues" routerLinkActive="cls">Leagues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/About" routerLinkActive="cls">About us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!--row end-->
        </div>
    </div>
    <!--slider-area start-->
    <div class="slider-area owl-carousel carousel-height" >
        <div class="sliding-item carousel-height">
            <img src="assets\images\gallery\4.jpg" alt="slider-img">
            <div class="league-content">
                <h2 class="text-white sliderlogo">KORA4YOU</h2>


            </div>
        </div>
        <div class="sliding-item carousel-height">
            <img src="assets\images\gallery\2.jpg" alt="slider-img" >
            <div class="league-content">
                <h2 class="text-white ml20 sliderlogo"> Recent News</h2>
                <div class="club-link d-grid gap-2 col-6">
                    <a class="btn btn-success" routerLink="/News">MORE...</a>
                </div>
            </div>
        </div>
        
    </div>
    <!--slider-area end-->

</header>