<!-- preloader -->
<div class="preloader">
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>

<header>
    <div class="nav-menu" id="sticky-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="navbar-header">
                        <a class="navbar-brand" routerLink="/Home" routerLinkActive="cls"><img src="assets/images/logo/logo.png" alt="BEFIT logo"></a>
                        <button class="navbar-toggler d-md-inlline d-xl-none" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
                    </div>
                </div>
                <!--col end-->
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/News" routerLinkActive="active">News</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Teams" routerLinkActive="cls">Teams</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Matches" routerLinkActive="cls">Matches</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Tables" routerLinkActive="cls">Tables</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Leagues" routerLinkActive="cls">Leagues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Careers" routerLinkActive="cls">Careers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/About" routerLinkActive="cls">About us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/Contact" routerLinkActive="cls">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!--row end-->
        </div>
    </div>


    <!--slider-area start-->
    <div class="slider-area owl-carousel">
        <div class="sliding-item">
            <img src="assets/images/slider-show/1.jpg" alt="slider-img">
            <div class="sliding-content">
                <h2>News<br>premier league</h2>
                <!-- <div class="upcoming">
                    <span class="is-countdown"> </span>
                    <div data-countdown="2018/09/01"></div>
                </div> -->
            </div>
        </div>
        <div class="sliding-item">
            <img src="assets/images/slider-show/2.jpg" alt="slider-img">
            <div class="tonight-match">
                <div class="sliding-match">
                    <h4><a href="#">to night</a></h4>
                    <ul class="match-vs">
                        <li><img src="assets/images/club-logo/logo/chelsea.png" alt="club logo"><span>chelsea</span></li>
                        <li class="vs">
                            <h4>vs</h4>
                        </li>
                        <li><img src="assets/images/club-logo/logo/arsenal.png" alt="club logo"><span>arsenal</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sliding-item">
            <img src="assets/images/slider-show/3.jpg" alt="slider-img">
            <div class="league-content">
                <h2 class="text-white">News<br> champions league</h2>
                <div class="club-link">
                    <a class="liverpool" href="#">liverpool</a>
                    <a class="barcelona" href="#">barcelona</a>
                </div>
                <!-- <div class="upcomming-match d-none d-lg-flex">
                    <div class="first-match">
                        <h4>first match</h4>
                        <p>villa park</p>
                    </div>
                    <div class="upcoming">
                        <span class="is-countdown"> </span>
                        <div data-countdown="2018/06/01"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!--slider-area end-->
</header>
