<footer>
    <div class="footer-area bg2 parallax overlay2 pad60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-box pt60">
                        <div class="footer-content add">
                            <div class="footer-logo footer-content">
                                <img src="assets/images/logo/logo.png" alt="footer logo">
                            </div>
                            <p class="pt30">Lorem ipsum dolor sit amet, ei ubique fastidii vim. Elitr feugait complectitur eu pro, sea audire ponderum eleifend cu. Vim at fuisset.</p>
                            <div class="add-info">
                                <p><a href="#"><i class="fa fa-map-marker"></i></a>23 New Design Street, Melbourne</p>
                                <p class="mb-0"><a href="#"><i class="fa fa-phone" ></i></a>+880-123-456-7890</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row end-->
        </div>
    </div>
    <div class="copyright pad30 ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <h4>Copyright © 2018 designed by <span>iThemeslab.</span> All Rights Reserved</h4>
                </div>
                <!--col end-->
            </div>
            <!--row end-->
        </div>
    </div>
</footer>