<footer>
    <div class="footer-area bg2 parallax overlay2 pad60">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <div class="footer-content add">
                            <div class="footer-logo footer-content mb-5">
                                <img src="assets/images/logo/logo.png" alt="footer logo">
                            </div>
                            <div>
                                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repellendus harum odit! Quos magnam atque doloremque? Rerum soluta amet ipsam. Corrupti cum quod minus velit magni, repudiandae nostrum error facere.</p>
                                <hr class="text-white">
                            </div>
                            <div class="add-info">
                                <p class="text-white"><a href="#"><i class="fa fa-map-marker"></i></a> 23 New Design Street, Melbourne</p>
                                <p class="mb-0 text-white"><a href="#"><i class="fa fa-phone" ></i></a> +880-123-456-7890</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="follow-us-area mt50">
                        <div class="section-title news-title">
                            <h4> <span>follow us</span></h4>
                        </div>
                        <div class="link-box mt30">
                            <a href="#"><i class="fa fa-facebook"></i>faceboook</a>
                            <a href="#"><i class="fa fa-twitter"></i>twitter</a>
                            <a href="#"><i class="fa fa-google-plus-official"></i>google plus</a>
                            <a href="#"><i class="fa fa-linkedin"></i>linkedin</a>
                            <a href="#"><i class="fa fa-instagram"></i>instagram</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--row end-->
        </div>
    </div>
    <div class="copyright pad30 ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <h4>Copyright © 2020 designed by <span>ITP.Net Group3.</span> All Rights Reserved</h4>
                </div>
                <!--col end-->
            </div>
            <!--row end-->
        </div>
    </div>
</footer>