<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">League ID</th>
                <th scope="col">League Name</th>
                <th scope="col">League Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let league of LeagueList">
                <td>{{league.league_id}}</td>
                <td>{{league.name}}</td>
                <td>{{league.countries}}</td>
            </tr>
        </tbody>
    </table>
</div>