<!-- <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">League Name</th>
                <th scope="col">League Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let league of LeagueList">
                <td>{{league.name}}</td>
                <td>{{league.countries}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
<!-- page title & breadcrumbs start -->
<div class="point-table pad60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3">League Name</th>
                                <th colspan="2">League Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let league of LeagueList">
                                <td colspan="3" class="team">
                                    <div class="team-box"><img class="s-img" style="background-color: transparent;" src="https://dummyimage.com/100x100.jpg&text={{league.name}}" alt="">
                                        <span><a class=" singleTeam btn btn-lg" [routerLink]="['/Tables', league.league_id]">{{league.name}}</a></span></div>
                                </td>
                                <td colspan="2">{{league.countries}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
