<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid bg-primary">
        <div class="container">
            <h1 class="display-4 text-white text-center">Page Not Found</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <img [src]="pageNotfoundUrl" alt="404" class="w-100">
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <a class="btn btn-primary btn-lg w-100" routerLink="/Home" routerLinkActive="cls" role="button">To HomePage</a>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>