<!--fixtures area start-->
<div class="laliga-box pad60">
    <div class="container">
        <div #div1 class="form-group">
            <label for="my-select">Top Leagues</label>
            <select [(ngModel)]="SelLeagueId" id="my-select" class="form-control" name="Top Leagues" (click)="getSelected()">
              <option *ngFor="let league of leaguesList"  [value]="league.league_id">{{league.name}}</option>
          </select>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <!-- <h4 class="text-center"></h4> -->
                <div class="fixture-box bb-1" *ngFor="let match of matchesList">
                    <div class="club-fixture">
                        <div class="club-img">
                            <img class="sm-img" src="https://dummyimage.com/100x100.jpg&text={{match.team1_name}}" alt="club logo">
                            <span>{{match.team1_name}}</span>
                        </div>
                        <div class="club-schedule text-center">
                            <h5>{{match.team1_score}} : {{match.team2_score}}</h5>
                            <h5>{{match.date}}</h5>
                        </div>
                        <div class="club-img">
                            <span>{{match.team2_name}}</span>
                            <img class="sm-img" src="https://dummyimage.com/100x100.jpg&text={{match.team2_name}}" alt="club logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--fixtures area end-->
