<!--club-list-area start-->
<div class="club-list-area pad60">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <img src="assets/player.png" alt="Player logo" style="width: 350px; height: 350px;">
            </div>
            <div class="col-sm-6">
                <h4 class="mt30">{{player.fullname}}</h4>
                <p>{{player.team.name}} football club</p>
                <div class="authority-box mt30">
                    <p><strong>Age</strong> : {{player.age}}</p>
                    <p><strong>Number</strong> : {{player.number}}</p>
                    <p><strong>Goals</strong> : {{goalsList.count}}</p>
                    <p><strong>Yellow Cards</strong>: {{yellowList.count}} </p>
                    <p><strong>Red Cards</strong> : {{redList.count}} </p>
                    <p><strong>League</strong> : {{player.team.league.name}}</p>
                </div>
            </div>
        </div>
        <a style="color: black;" class="btn btn-outline-warning col-12" (click)="goBack()">Back</a>
    </div>
</div>
<!--club-list-area end-->