<div class="container">
    <div class="row">
        <div class="col-sm-8 mt-5">
            <div class="club-list-area club-history">
                <div class="section-title mb30 xs-mt-30">
                    <h4><span>SportZen</span></h4>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium est, consequatur laudantium cum ab fugit inventore unde dolorem, ipsum dicta dolores aut libero fugiat hic ut nihil, cumque explicabo ducimus Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Reprehenderit ducimus suscipit nulla libero corrupti totam dolores.</p> <br>
                <p>Aenean accumsan vulputate erat sed sollicitudin. Donec porttitor rutrum justo a ullamcorper. Etiam venenatis condimentum metus sit amet dignissim. Morbi venenatis nisl lobortis neque cursus vehicula. Proin in convallis eros. Sed posuere,
                    sapien sed tempus facilisis, arcu velit tincidunt nulla, at accumsan lacus ante accumsan tellus. In a condimentum dolor. Sed feugiat consectetur sapien, a feugiat nunc elementum ut. Mauris nisi felis, auctor et sem quis, condimentum
                    condimentum odio. Aenean id eleifend nulla, nec blandit enim.</p>
                <hr>
                <div class="add-info">
                    <p><a href="#"><i class="fa fa-map-marker text-dark"></i></a> 23 New Design Street, Melbourne</p>
                    <p class="mb-0"><a href="#"><i class="fa fa-phone text-dark"></i></a> +880-123-456-7890</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="news-area sports-news mb-5 ml-5">
                <div class="follow-us-area mt50">
                    <div class="section-title news-title">
                        <h4> <span>follow us</span></h4>
                    </div>
                    <div class="link-box mt30">
                        <a href="#"><i class="fa fa-facebook"></i>faceboook</a>
                        <a href="#"><i class="fa fa-twitter"></i>twitter</a>
                        <a href="#"><i class="fa fa-google-plus-official"></i>google plus</a>
                        <a href="#"><i class="fa fa-linkedin"></i>linkedin</a>
                        <a href="#"><i class="fa fa-instagram"></i>instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>