<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <!-- <div class="row">
                <div class="col-sm-6">
                    <div class="sports-news mb60 card" style="width: 20rem;">
                        <div class="sports-img zoom mb40 mt-3">
                            <img src="assets/images/sports-news/5.jpg" alt="news img" class="w-100">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary col-sm-12">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="club-list-area">
                <div class="team-box mt-5">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">squad</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">honours</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">photos</a>
                        <a class="nav-item nav-link" id="nav-jersy-tab" data-toggle="tab" href="#nav-jersy" role="tab" aria-controls="nav-jersy" aria-selected="false">jersy</a>
                    </div>
                    <div class="tab-content mt40" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="sports-news mb60 card">
                                        <div class="sports-img zoom mb40 mt-3 ">
                                            <img src="assets/images/sports-news/5.jpg " alt="news img " class="w-100 ">
                                        </div>
                                        <div class="card-body ">
                                            <h5 class="card-title ">Card title</h5>
                                            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="# " class="btn btn-primary col-sm-12 ">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>