<div class="container">
    <div class="news-area">
        <div class="row">
            <div class="col-md-12 col-lg-9 mt-5">
                <!-- <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"> -->
                <div class="row">
                    <div class="col-lg-4 col-md-12" *ngFor="let post of postsList">
                        <div class="sports-news mb60 card">
                            <div class="sports-img zoom mb40 mt-3 ">
                                <img src="assets/images/sports-news/{{post.post_image}} " alt="news img" class="w-100 ">
                            </div>
                            <div class="card-body ">
                                <h5 class="card-title ">{{post.post_title}}</h5>
                                <p class="card-text ">{{post.post_type}}</p>
                                <p class="card-text ">{{post.post_date}}</p>
                                <a [routerLink]="['/News',post.id]" class="btn btn-primary col-sm-12 ">Read More...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-md-12 col-lg-3 mt-5">
                <div class="recent-news mt20">
                    <div class="blog-title">
                        <h3>recent news</h3>
                    </div>
                    <div class="comment-box mt30" *ngFor="let tag of tagsList">
                        <img src="assets/hash.png" alt="sport img">
                        <div class="user-cmnt">
                            <a [routerLink]="['/Tags',tag.id]" style="text-decoration: none !important; font-size: larger;"> <span>{{tag.tag_title}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="d-flex justify-content-center mb-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div> -->
        </div>
    </div>
</div>