<!--match-box area start-->
<div class="match-box pad60">
    <div class="container">
        <div class="row">
            <!--row end-->
            <div class="col-md-12 col-lg-9">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <div class="video-highlight">
                            <div class="section-title">
                                <h4> <span>highlights</span></h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12" *ngFor="let match of matchList; let i = index">
                                    <div *ngIf="i < maxMatches" class="highlights-bg h-bg1 mini-bg overlay mt20">
                                        <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=Kbg777rhMrA"><i class="fa fa-play"></i> <span></span></a>
                                        <p>{{match.team1_name}} {{match.team1_score}}-{{match.team2_score}} {{match.team2_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-7">
                        <div class="up-matches">
                            <div class="section-title xs-mt-50">
                                <h4> <span>Recent News</span></h4>
                            </div>
                            <div *ngFor="let post of postsList; let i=index">
                                <div class="match-news mt40" *ngIf="i<maxPosts">
                                    <img src="assets/images/player/news/{{post.post_image}}" alt="player img">
                                    <div class="news">
                                        <p>{{post.updated_at}}</p>
                                        <h4><a [routerLink]="['/News',post.id]" routerLinkActive="router-link-active">{{post.post_title}}</a></h4>
                                        <p class="nws">{{post.post_type}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-box mt30">
                            <div *ngFor="let post of postsTypeList; let i= index">
                                <div class="banner-img overlay" *ngIf="i<maxAnimatedPosts">
                                    <img class="full-width" src="assets/images/sports-news/{{post.post_image}}" alt="banner-img">
                                    <p>{{post.post_type}}</p>
                                    <h4><a [routerLink]="['/News',post.id]" routerLinkActive="router-link-active">{{post.post_title}}</a> </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--col end-->
            <div class="col-md-12 col-lg-3">
                <div class="follow-us-area mt60 mb-5 ">
                    <div class="section-title news-title ">
                        <h4> <span>follow us</span></h4>
                    </div>
                    <div class="link-box mt30 ">
                        <a href="# "><i class="fa fa-facebook "></i>faceboook</a>
                        <a href="# "><i class="fa fa-twitter "></i>twitter</a>
                        <a href="# "><i class="fa fa-google-plus-official "></i>google plus</a>
                        <a href="# "><i class="fa fa-linkedin "></i>linkedin</a>
                        <a href="# "><i class="fa fa-instagram "></i>instagram</a>
                    </div>
                </div>
            </div>
            <!--col end-->
        </div>
        <!--row end-->
    </div>
</div>
<!--match-box area end-->