<!--match-box area start-->
<div class="match-box pad60">
    <div class="container">
        <div class="row">
            <!--row end-->
            <div class="col-md-12 col-lg-9">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <div class="video-highlight">
                            <div class="section-title">
                                <h4> <span>highlights</span></h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="highlights-bg h-bg1 mini-bg overlay mt20">
                                        <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=Kbg777rhMrA"><i class="fa fa-play"></i> <span></span></a>
                                        <p>liverpool 2-0 man city</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="highlights-bg h-bg2 mini-bg overlay mt30">
                                        <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=Kbg777rhMrA"><i class="fa fa-play"></i> <span></span></a>
                                        <p>chile vs mexico</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-7">
                        <div class="up-matches">
                            <div class="section-title xs-mt-50">
                                <h4> <span>upcomming matches</span></h4>
                            </div>
                            <div class="upmatches-slider owl-carousel">
                                <div class="upmatch-box mt20 overlay">
                                    <img class="full-width " src="assets/images/upcomming-matches/2.jpg" alt="coming match">
                                    <div class="team-date">
                                        <h5>brazil vs portugal</h5>
                                        <p>20-08-2018 on Star Sports 3 HD</p>
                                    </div>
                                </div>
                                <div class="upmatch-box mt20 overlay">
                                    <img class="full-width " src="assets/images/upcomming-matches/1.jpg" alt="coming match">
                                    <div class="team-date">
                                        <h5>brazil vs argentina</h5>
                                        <p>20-08-2018 on Star Sports 3 HD</p>
                                    </div>
                                </div>
                                <div class="upmatch-box mt20 overlay">
                                    <img class="full-width " src="assets/images/upcomming-matches/2.jpg" alt="coming match">
                                    <div class="team-date">
                                        <h5>argentina vs portugal</h5>
                                        <p>20-08-2018 on Star Sports 3 HD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-box mt30">
                            <div class="banner-img overlay">
                                <img class="full-width" src="assets/images/bg-banner/1.png" alt="banner-img">
                                <p>philipe</p>
                                <h4><a href="#">liverpool win Pl<br> Aisa trophy</a> </h4>
                            </div>
                            <div class="banner-img overlay">
                                <img class="full-width" src="assets/images/bg-banner/2.png" alt="banner-img">
                                <p>football</p>
                                <h4><a href="#">Mesut Ozil back in <br> Arsenal training.</a></h4>
                            </div>
                            <div class="banner-img overlay">
                                <img class="full-width" src="assets/images/bg-banner/3.png" alt="banner-img">
                                <p>26.07.17</p>
                                <h4><a href="#">Euro Papers: Messi <br> wants Dybala</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-7">
                        <div class="post-area mt60">
                            <div class="section-title">
                                <h4> <span>latest post</span></h4>
                            </div>
                            <div class="banner-img overlay mt40">
                                <img class="full-width" src="assets/images/bg-banner/bnr3.png" alt="banner-img">
                                <p>24.07.17</p>
                                <h4><a href="#">Boro player diagnosed <br> with leukemia</a></h4>
                            </div>
                            <div class="match-news  mt30">
                                <img src="assets/images/player/news/1.jpg" alt="player img">
                                <div class="news">
                                    <p>24.07.17</p>
                                    <h4><a href="#">Mkhi backs himself to improve.</a></h4>
                                    <p class="nws">Appareat instuctior at. In sadip scing ct. vim an diam consequat deseruisse.</p>
                                </div>
                            </div>
                            <div class="match-news  mt30">
                                <img src="assets/images/player/news/2.jpg" alt="player img">
                                <div class="news">
                                    <p>26.07.17</p>
                                    <h4><a href="#">City confirm Mendy signing.</a></h4>
                                    <p class="nws">Appareat instuctior at. In sadip scing ct. vim an diam consequat deseruisse.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <!--scores-tab area start-->
                        <div class="scores-tab mt60">
                            <div class="section-title">
                                <h4> <span>top scores</span></h4>
                            </div>
                            <ul class="nav nav-pills mt40" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">world cup</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">uefa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">la liga</a>
                                </li>
                            </ul>
                            <div class="tab-content bnr2 parallax-scrl " id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/1.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>lionel messi</h4>
                                            <p>18 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/2.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>sergio aguero</h4>
                                            <p>16 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/3.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>philipp lahm</h4>
                                            <p>13 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box">
                                        <img src="assets/images/player/4.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>diego forlan</h4>
                                            <p>11 goals</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/3.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>philipp lahm</h4>
                                            <p>18 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/1.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>lionel messi</h4>
                                            <p>15 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/2.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>sergio aguero</h4>
                                            <p>12 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box">
                                        <img src="assets/images/player/4.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>diego forlan</h4>
                                            <p>11 goals</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/2.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>sergio aguero</h4>
                                            <p>16 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/1.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>lionel messi</h4>
                                            <p>15 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box bb-1">
                                        <img src="assets/images/player/4.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>diego forlan</h4>
                                            <p>10 goals</p>
                                        </div>
                                    </div>
                                    <div class="player-box">
                                        <img src="assets/images/player/3.jpg" alt="messi">
                                        <div class="player-dtl">
                                            <h4>philipp lahm</h4>
                                            <p>9 goals</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--scores-tab area end-->
                        <div class="bnr-img mt30 zoom">
                            <img class="full-width" src="assets/images/bg-banner/bnr4.png" alt="banner img">
                        </div>
                    </div>
                </div>
            </div>
            <!--col end-->
            <div class="col-md-12 col-lg-3">
                <div class="section-title xs-mt-50">
                    <h4> <span>recent results</span></h4>
                </div>
                <div class="score-slider owl-carousel bnr1 mini-bg mt40">
                    <div class="result-box ">
                        <h4 class="result-heading">sunday 21st may 2018</h4>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/mancity.png" alt="club logo">
                                <span>man city</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>watford</span>
                                <img src="assets/images/club-logo/logo/watford.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result active">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/arsenal.png" alt="club logo">
                                <span>arsenal </span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>everton </span>
                                <img src="assets/images/club-logo/logo/everton.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result mb-0">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/manutd.png" alt="club logo">
                                <span>man utd</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>chelsea </span>
                                <img src="assets/images/club-logo/logo/chelsea.png" alt="club logo">
                            </div>
                        </div>
                        <h4 class="result-heading">sunday 21st may 2018</h4>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/barcelona.png" alt="club logo">
                                <span>barcelona </span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>realbetis</span>
                                <img src="assets/images/club-logo/logo/realbetis.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result active">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/getafe.png" alt="club logo">
                                <span>getafe</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>sevilla</span>
                                <img src="assets/images/club-logo/logo/sevilla.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/malaga.png" alt="club logo">
                                <span>malaga</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>alves</span>
                                <img src="assets/images/club-logo/logo/alves.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/italy.png" alt="club logo">
                                <span>italy</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>spain</span>
                                <img src="assets/images/club-logo/logo/spain.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result mb-0">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/mexico.png" alt="club logo">
                                <span>mexico</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>italy</span>
                                <img src="assets/images/club-logo/logo/italy.png" alt="club logo">
                            </div>
                        </div>
                    </div>
                    <div class="result-box ">
                        <h4 class="result-heading">tuesday 23st may 2018</h4>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/mancity.png" alt="club logo">
                                <span>man city</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>watford</span>
                                <img src="assets/images/club-logo/logo/watford.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/arsenal.png" alt="club logo">
                                <span>arsenal </span>
                            </div>
                            <div class="score">
                                <span>1</span>
                                <span>2</span>
                            </div>
                            <div class="club-img">
                                <span>everton </span>
                                <img src="assets/images/club-logo/logo/everton.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result active">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/manutd.png" alt="club logo">
                                <span>man utd</span>
                            </div>
                            <div class="score">
                                <span>3</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>chelsea </span>
                                <img src="assets/images/club-logo/logo/chelsea.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result mb-0">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/barcelona.png" alt="club logo">
                                <span>barcelona </span>
                            </div>
                            <div class="score">
                                <span>1</span>
                                <span>2</span>
                            </div>
                            <div class="club-img">
                                <span>realbetis</span>
                                <img src="assets/images/club-logo/logo/realbetis.png" alt="club logo">
                            </div>
                        </div>
                        <h4 class="result-heading">saturday 28th may 2018</h4>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/getafe.png" alt="club logo">
                                <span>getafe</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>4</span>
                            </div>

                            <div class="club-img">
                                <span>alves</span>
                                <img src="assets/images/club-logo/logo/alves.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/malaga.png" alt="club logo">
                                <span>malaga</span>
                            </div>
                            <div class="score">
                                <span>0</span>
                                <span>1</span>
                            </div>
                            <div class="club-img">
                                <span>sevilla</span>
                                <img src="assets/images/club-logo/logo/sevilla.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/italy.png" alt="club logo">
                                <span>italy</span>
                            </div>
                            <div class="score">
                                <span>3</span>
                                <span>2</span>
                            </div>
                            <div class="club-img">
                                <span>spain</span>
                                <img src="assets/images/club-logo/logo/spain.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result mb-0">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/italy.png" alt="club logo">
                                <span>italy</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>4</span>
                            </div>
                            <div class="club-img">
                                <span>mexico</span>
                                <img src="assets/images/club-logo/logo/mexico.png" alt="club logo">
                            </div>
                        </div>
                    </div>
                    <div class="result-box ">
                        <h4 class="result-heading">sunday 21st june 2018</h4>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/arsenal.png" alt="club logo">
                                <span>arsenal </span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>3</span>
                            </div>
                            <div class="club-img">
                                <span>everton </span>
                                <img src="assets/images/club-logo/logo/everton.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/mancity.png" alt="club logo">
                                <span>man city</span>
                            </div>
                            <div class="score">
                                <span>2</span>
                                <span>3</span>
                            </div>
                            <div class="club-img">
                                <span>watford</span>
                                <img src="assets/images/club-logo/logo/watford.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/barcelona.png" alt="club logo">
                                <span>barcelona </span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>5</span>
                            </div>
                            <div class="club-img">
                                <span>realbetis</span>
                                <img src="assets/images/club-logo/logo/realbetis.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result active">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/getafe.png" alt="club logo">
                                <span>getafe</span>
                            </div>
                            <div class="score">
                                <span>4</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>sevilla</span>
                                <img src="assets/images/club-logo/logo/sevilla.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result mb-0">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/manutd.png" alt="club logo">
                                <span>man utd</span>
                            </div>
                            <div class="score">
                                <span>5</span>
                                <span>2</span>
                            </div>
                            <div class="club-img">
                                <span>chelsea </span>
                                <img src="assets/images/club-logo/logo/chelsea.png" alt="club logo">
                            </div>
                        </div>
                        <h4 class="result-heading">saturday 28th june 2018</h4>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/malaga.png" alt="club logo">
                                <span>malaga</span>
                            </div>
                            <div class="score">
                                <span>3</span>
                                <span>2</span>
                            </div>
                            <div class="club-img">
                                <span>alves</span>
                                <img src="assets/images/club-logo/logo/alves.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/italy.png" alt="club logo">
                                <span>italy</span>
                            </div>
                            <div class="score">
                                <span>1</span>
                                <span>0</span>
                            </div>
                            <div class="club-img">
                                <span>spain</span>
                                <img src="assets/images/club-logo/logo/spain.png" alt="club logo">
                            </div>
                        </div>
                        <div class="club-result mb-0">
                            <div class="club-img">
                                <img src="assets/images/club-logo/logo/mexico.png" alt="club logo">
                                <span>mexico</span>
                            </div>
                            <div class="score">
                                <span>1</span>
                                <span>4</span>
                            </div>
                            <div class="club-img">
                                <span>italy</span>
                                <img src="assets/images/club-logo/logo/italy.png" alt="club logo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bnr-img mt30 zoom">
                    <img class="full-width" src="assets/images/bg-banner/bnr1.jpg" alt="banner img">
                </div>
                <div class="footbal-table-area mt50">
                    <div class="section-title">
                        <h4> <span>football tables</span></h4>
                    </div>
                    <div class="foot-tbl bnr1 mini-bg mt40">
                        <h5>la liga</h5>
                        <div class="point-table">
                            <div class="team-rank">
                                <img class="sml-logo" src="assets/images/club-logo/logo/barcelona.png" alt="club-logo">
                                <span>1. barcelona</span>
                            </div>
                            <span>84</span>
                        </div>
                        <div class="point-table">
                            <div class="team-rank">
                                <img class="sml-logo" src="assets/images/club-logo/logo/realbetis.png" alt="club-logo">
                                <span>2. realbetis</span>
                            </div>
                            <span>64</span>
                        </div>
                        <div class="point-table active">
                            <div class="team-rank">
                                <img class="sml-logo" src="assets/images/club-logo/logo/alves.png" alt="club-logo">
                                <span>3. alves</span>
                            </div>
                            <span>74</span>
                        </div>
                        <div class="point-table">
                            <div class="team-rank">
                                <img class="sml-logo" src="assets/images/club-logo/logo/arsenal.png" alt="club-logo">
                                <span>4. arsenal</span>
                            </div>
                            <span>70</span>
                        </div>
                        <div class="point-table">
                            <div class="team-rank">
                                <img class="sml-logo" src="assets/images/club-logo/logo/sevilla.png" alt="club-logo">
                                <span>5. sevilla</span>
                            </div>
                            <span>68</span>
                        </div>
                        <div class="point-table">
                            <div class="team-rank">
                                <img class="sml-logo" src="assets/images/club-logo/logo/getafe.png" alt="club-logo">
                                <span>6. getafe</span>
                            </div>
                            <span>48</span>
                        </div>
                        <div class="point-table">
                            <div class="team-rank">
                                <img class="sml-logo" src="assets/images/club-logo/logo/chelsea.png" alt="club-logo">
                                <span>7. chelsea</span>
                            </div>
                            <span>80</span>
                        </div>
                    </div>
                </div>
                <div class="bnr-img mt30 zoom">
                    <img class="full-width" src="assets/images/bg-banner/bnr5.png" alt="banner img">
                </div>
            </div>
            <!--col end-->
        </div>
        <!--row end-->
    </div>
</div>
<!--match-box area end-->